In [1]:
import pandas as pd 
import numpy as np

In [3]:

file_path = r"/Users/philippebao/Desktop/ML_FIRAT/oecd_bli_2015.csv"
df_oecd = pd.read_csv(file_path)
df_oecd

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.10,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.00,NaN,NaN
2,BEL,Belgium,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,2.00,NaN,NaN
3,CAN,Canada,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.20,NaN,NaN
4,CZE,Czech Republic,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.90,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3287,EST,Estonia,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,14.43,NaN,NaN
3288,ISR,Israel,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,14.24,E,Estimated value
3289,RUS,Russia,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,14.75,E,Estimated value
3290,SVN,Slovenia,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,14.12,NaN,NaN
3291,OECD,OECD - Total,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,14.74,NaN,NaN

In [4]:
file_path1 = r"/Users/philippebao/Desktop/ML_FIRAT/gdp_per_capita.csv"
df_gdp = pd.read_csv(file_path1, sep='\t', encoding='ISO-8859-1', na_values="n/a")
df_gdp

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","3,995.383",2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","4,318.135",2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","4,100.315",2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","14,414.302",2011.0
...,...,...,...,...,...,...,...
185,Vietnam,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","2,088.344",2012.0
186,Yemen,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","1,302.940",2008.0
187,Zambia,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","1,350.151",2010.0
188,Zimbabwe,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","1,064.350",2012.0
189,"International Monetary Fund, World Economic Ou...",NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# data preparation
def prepare_country_stats(oecd_bli, gdp_per_capita):

    oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]

    oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")

    gdp_per_capita.rename(columns={"2015": "GDP per capita"}, inplace=True)

    gdp_per_capita.set_index("Country", inplace=True)

    full_country_stats = pd.merge(left=oecd_bli, right=gdp_per_capita,

                                  left_index=True, right_index=True)

    full_country_stats.sort_values(by="GDP per capita", inplace=True)

    remove_indices = [0, 1, 6, 8, 33, 34, 35]

    keep_indices = list(set(range(36)) - set(remove_indices))

    return full_country_stats[["GDP per capita", 'Life satisfaction']].iloc[keep_indices]

In [6]:
country_df= prepare_country_stats(df_oecd, df_gdp)

In [7]:
country_df

                GDP per capita  Life satisfaction
Country
Poland              12,495.334                5.8
Chile               13,340.905                6.7
Slovak Republic     15,991.736                6.1
Czech Republic      17,256.918                6.5
Greece              18,064.288                4.8
Slovenia            20,732.482                5.7
Spain               25,864.721                6.5
Korea               27,195.197                5.8
Italy               29,866.581                6.0
Japan               32,485.545                5.9
Israel              35,343.336                7.4
New Zealand         37,044.891                7.3
France              37,675.006                6.5
Belgium             40,106.632                6.9
Germany             40,996.511                7.0
Finland             41,973.988                7.4
Canada              43,331.961                7.3
Netherlands         43,603.115                7.3
Austria             43,724.031                6.9
United Kingdom      43,770.688                6.8
Sweden              49,866.266                7.2
Iceland             50,854.583                7.5
Australia           50,961.865                7.3
Ireland             51,350.744                7.0
Denmark             52,114.165                7.5
United States       55,805.204                7.2
Norway              74,822.106                7.4
Brazil               8,669.998                7.0
Switzerland         80,675.308                7.5

In [8]:
Y=np.c_[country_df["GDP per capita"]]
Y

array([['12,495.334'],
       ['13,340.905'],
       ['15,991.736'],
       ['17,256.918'],
       ['18,064.288'],
       ['20,732.482'],
       ['25,864.721'],
       ['27,195.197'],
       ['29,866.581'],
       ['32,485.545'],
       ['35,343.336'],
       ['37,044.891'],
       ['37,675.006'],
       ['40,106.632'],
       ['40,996.511'],
       ['41,973.988'],
       ['43,331.961'],
       ['43,603.115'],
       ['43,724.031'],
       ['43,770.688'],
       ['49,866.266'],
       ['50,854.583'],
       ['50,961.865'],
       ['51,350.744'],
       ['52,114.165'],
       ['55,805.204'],
       ['74,822.106'],
       ['8,669.998'],
       ['80,675.308']], dtype=object)

In [10]:
 X=np.c_[country_df["Life satisfaction"]]
 X

array([[5.8],
       [6.7],
       [6.1],
       [6.5],
       [4.8],
       [5.7],
       [6.5],
       [5.8],
       [6. ],
       [5.9],
       [7.4],
       [7.3],
       [6.5],
       [6.9],
       [7. ],
       [7.4],
       [7.3],
       [7.3],
       [6.9],
       [6.8],
       [7.2],
       [7.5],
       [7.3],
       [7. ],
       [7.5],
       [7.2],
       [7.4],
       [7. ],
       [7.5]])